{cover_enabled, true}.

{erl_opts, [warnings_as_errors,
            {parse_transform, lager_transform},
            {platform_define, "^[2-9][1-9][0-9]*(.?[0-9]*)", deprecated_21},
            {platform_define, "^[2-9][2-9][0-9]*(.?[0-9]*)", deprecated_22}]}.

{eunit_opts, [verbose]}.

{deps, [
        {riak_pb, {git, "git://github.com/basho/riak_pb.git", {branch, "mas-i1793-repairkeysrange"}}},
        {webmachine, {git, "git://github.com/webmachine/webmachine.git", {tag, "1.11.1"}}},
        {riak_core, {git, "git://github.com/basho/riak_core.git", {tag, "riak_kv-3.0.5"}}},
        {mochiweb, {git, "git://github.com/basho/mochiweb.git", {tag, "2.12.1+riak.3.0.4"}}}
        ]}.

{profiles, [
    {test, [{deps, [meck]}]}
]}.

{dialyzer, [{plt_apps, all_deps}]}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used]}.
