{minimum_otp_vsn, "22.0"}.

{cover_enabled, true}.

{erl_opts, [warnings_as_errors,
            {platform_define, "^[2-9][1-9][0-9]*(.?[0-9]*)", deprecated_21},
            {platform_define, "^[2-9][2-9][0-9]*(.?[0-9]*)", deprecated_22}]}.

{eunit_opts, [verbose]}.

{deps, [
        {riak_pb, {git, "https://github.com/basho/riak_pb.git", {branch, "develop"}}},
        {webmachine, {git, "https://github.com/webmachine/webmachine.git", {tag, "1.11.1"}}},
        {riak_core, {git, "https://github.com/basho/riak_core.git", {branch, "develop"}}},
        {mochiweb, {git, "https://github.com/basho/mochiweb.git", {branch, "develop-3.2"}}}
        ]}.

{profiles, [
    {test, [{deps, [meck]}]}
]}.

{dialyzer, [{plt_apps, all_deps}]}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used]}.
