{cover_enabled, true}.
{erl_opts, [warnings_as_errors, {parse_transform, lager_transform}]}.
{eunit_opts, [verbose]}.
{deps, [
        {riak_pb, ".*", {git, "https://github.com/basho/riak_pb.git", {tag, "2.3.0.0"}}},
        {webmachine, "1.10.8", {git, "https://github.com/basho/webmachine.git", {tag, "1.10.8-basho1"}}},
        {riak_core, ".*", {git, "https://github.com/basho/riak_core.git", {branch, "develop"}}}
        ]}.
{xref_checks, [undefined_function_calls]}.
